.colors-container{
    background-color: chartreuse;
    
}

.color-grid{
    display: flex;
    justify-content: center;
    padding: 10%;
}

.active-color{
 display: flex;
 justify-content: center;
 padding: 10%;
 border: 1px solid black;
}