.colors-container{
    background-color: cadetblue;
    
}

.color-grid{
    display: flex;
    justify-content: center;
    padding: 10%;
}

.active-color{
 display: flex;
 justify-content: center;
 padding: 10%;
 border: 1px solid black;
}

h2{
    text-align: center;
    padding-top: 4%;
    color: aliceblue;
}