*{
    margin: 0;
    padding: 0;
}

.main-container{

    padding: 1%;
}

.row{
    display: flex;

    flex-wrap: wrap;
    background: rgb(219, 214, 205);
    justify-content: space-around;

    padding: 1% 0;
}